h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
}

ul {
    background-color: gray;
}

p-ul {
    color: blueviolet;
    font-style: italic;
    text-decoration: dashed;
    text-align: center;
    line-height: 1.5em;
}

p {
    font-weight: 600;
    font-size: 3em;
}

body {
    font-size: 16px;
}

#maca {
    background-color: rgb(255, 63, 63);
}

#banana {
    background-color: yellow;
}

#goiaba {
    background-color: greenyellow;
}